@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

$primary-color: var(--primary-color);
$primary-color-dark: var(--primary-color-dark);
$primary-color-light: var(--primary-color-light);
$text-color: var(--text-color);
$inverted-text-color: var(--inverted-text-color);
$placeholder-text-color: var(--placeholder-text-color);
$background-color: var(--background-color);
$background-color-control: var(--background-color-control);
$background-color-selected: var(--background-color-selected);
$control-box-shadow: var(--control-box-shadow);
$error-color: var(--error-color);

$control-min-height: 38px;

// buttons
button { 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; color: $text-color; 
    padding: 5px 15px;
    min-height: $control-min-height;
}
.button-text-only { border-width: 0; background-color: transparent; 
    &:hover { filter: brightness(115%); } &:active { filter: brightness(85%); }  
}
.button-outlined { border: 2px solid $primary-color-dark; background-color: $background-color; color: $primary-color-dark; 
    &:hover { background-color: $primary-color; color: $text-color; } &:active { background-color: $primary-color-dark; color: $text-color; } 
}

// inputs
input {
    border: 1px solid $primary-color-dark; 
    padding: 2px 15px;
    outline: none; 
    min-height: $control-min-height;
}

// labels
label { font-size: x-small;}

// table
table {
    font-size: small;
    width: 100%;
    tr {
        margin: 1px;
        height: $control-min-height;
        td,th { padding: 4px 6px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 0;}
        th { position: sticky; top: 0; border: 0 solid transparent; border-width: 0 0 2px 1px; background-color: $primary-color-dark; color: $text-color;}
        td { border: 0 $primary-color-light solid; border-width: 0 0 1px 0; }
    }
}

// utility calsses
.error-text { color: $error-color }
.aln-c { text-align: center; }
.aln-l { text-align: left; }
.aln-r { text-align: right; }
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-70 { width: 70%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
