@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

$primary-color: var(--primary-color);
$primary-color-dark: var(--primary-color-dark);
$primary-color-light: var(--primary-color-light);
$accent-color: var(--accent-color);
$accent-color-dark: var(--accent-color-dark);
$accent-color-light: var(--accent-color-light);
$text-color: var(--text-color);
$inverted-text-color: var(--inverted-text-color);
$placeholder-text-color: var(--placeholder-text-color);
$background-color: var(--background-color);
$background-color-control: var(--background-color-control);
$background-color-selected: var(--background-color-selected);
$control-box-shadow: var(--control-box-shadow);
$error-color: var(--error-color);

$control-min-height: 38px;

// buttons
button { 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    color: $inverted-text-color;
    padding: 2px 15px;
    min-height: $control-min-height;
}
.button-text-only { border-width: 0; background-color: transparent; 
    &:hover { filter: brightness(115%); } &:active { filter: brightness(85%); }  
}
.button-outlined { border: 1px solid $primary-color-dark; background-color: $background-color; color: $primary-color-dark; 
    &:hover { background-color: $primary-color; color: $text-color; } 
    &:active { background-color: $primary-color-dark; color: $text-color; } 
    &:disabled { 
        color: $primary-color-light;
        border-color: $primary-color-light;
        &:hover { background-color: transparent; color: $primary-color-light; }
    }
}

// inputs
input {
    border: 1px solid $primary-color-dark; 
    padding: 2px 15px;
    outline: none; 
    min-height: $control-min-height;
}

// labels
label { font-size: x-small;}

// table
table {
    font-size: small;
    width: 100%;
    tr {
        margin: 1px;
        height: $control-min-height;
        td,th { padding: 4px 6px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 0;}
        th { position: sticky; top: 0; border: 0 solid transparent; border-width: 0 0 2px 1px; background-color: $primary-color; color: $text-color;}
        td { border: 0 $accent-color-light solid; border-width: 0 0 1px 0; }
    }
}

// utility calsses
.error-text { color: $error-color }
.aln-c { text-align: center; }
.aln-l { text-align: left; }
.aln-r { text-align: right; }
.w-10pc { width: 10%; }
.w-20pc { width: 20%; }

// loading mask
.mask { width: 100%; height: 100%; background-color: $background-color; position: absolute; top: 0; left: 0; opacity: 0.9; text-align: center; 
    display: flex; justify-content: center; align-items: center;}
.loader { 
    border: 4px solid $accent-color-light; 
    border-top: 4px solid $primary-color; 
    border-bottom: 4px solid $primary-color; ;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

